<footer class="mdc-footer">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                <p class="mdc-typography--body2">© 2025 WhyAI App</p>
            </div>
        </div>
    </div>
</footer>