<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">📖 WhyAI</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            {{#if user}}
                <span class="mdc-top-app-bar__title">С возвращением, {{user.name}}</span>
                <a href="/logout" class="mdc-button mdc-button--raised">
                    <span class="mdc-button__label">выйти</span>
                </a>
            {{else}}
                <a href="/login" class="mdc-button">
                    <span class="mdc-button__label">Login</span>
                </a>
                <a href="/register" class="mdc-button mdc-button--raised">
                    <span class="mdc-button__label">Register</span>
                </a>
            {{/if}}
        </section>
    </div>
</header>