<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
            <h1 class="mdc-typography--headline4">Welcome, {{user.name}}!</h1>
            <p class="mdc-typography--body1">This is your home page. More features coming soon!</p>
        </div>
    </div>
</div>