<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-form">
            <h1 class="mdc-typography--headline4">Регистрация</h1>

            {{#if error}}
                <div class="mdc-snackbar mdc-snackbar--error">
                    <div class="mdc-snackbar__surface">
                        <div class="mdc-snackbar__label">{{error}}</div>
                    </div>
                </div>
            {{/if}}

            <form action="/register" method="POST">
                <div class="mdc-text-field mdc-text-field--outlined">
                    <input type="text" id="name" name="name" class="mdc-text-field__input" required>
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="name" class="mdc-floating-label">Имя</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                    <input type="email" id="email" name="email" class="mdc-text-field__input" required>
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="email" class="mdc-floating-label">Почта</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                    <input type="password" id="password" name="password" class="mdc-text-field__input" required>
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="password" class="mdc-floating-label">Пароль</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>

                <button type="submit" class="mdc-button mdc-button--raised">
                    <span class="mdc-button__label">Продолжить 🚀</span>
                </button>
            </form>

            <p class="mdc-typography--body1">
                Уже есть аккаунт? <a href="/login" class="mdc-button">
                <span class="mdc-label">Войти</span>
            </a>
            </p>
        </div>
    </div>
</div>