/* Material Design 3 Base Theme */
:root {
    /* Цвета */
    --mdc-theme-primary: #b7a08b;
    --mdc-theme-on-primary: #FFFFFF;
    --mdc-theme-primary-container: #FFDDBB;
    --mdc-theme-secondary: #6F5B40;
    --mdc-theme-on-secondary: #FFFFFF;
    --mdc-theme-surface: #FFF8F4;
    --mdc-theme-on-surface: #201B14;
    --mdc-theme-background: #FFF8F4;

    /* Типографика */
    font-family: 'Roboto', sans-serif;
}

/* Принудительное применение цветов */
.mdc-button {
    --mdc-theme-primary: #855318 !important;
    --mdc-theme-on-primary: #FFFFFF !important;
}


body {
    margin: 0;
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-on-surface);
    font-family: 'Ad', sans-serif;
}
.mdc-form{
    margin-top: 60px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: #ffebd9;
    border-radius: 15px;
}
.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.mdc-text-field {
    width: 100%;
    margin-bottom: 16px;
    --mdc-outlined-text-field-outline-color: var(--mdc-theme-primary);
    --mdc-outlined-text-field-hover-outline-color: var(--mdc-theme-primary);
}

.mdc-button {
    margin: 8px;
    border-radius: 15px;

}

.mdc-snackbar--error {
    --mdc-theme-primary: #B3261E;
    margin-bottom: 20px;
}

.mdc-footer {
    background-color: var(--mdc-theme-primary);
    color: #6c2b00;
    padding: 20px;
    height: 40px;
    align-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}